<?php

$db_url = 'mysqli://{{ site.db_user }}:{{ site.db_pass }}@localhost/{{ site.db_name }}';
$db_prefix = '{{ site.db_prefix|default('') }}';

$update_free_access = {{ site.update_free_access|default('FALSE') }};


# @TODO: remove this from template
# This are specific to a project I am working with and testing

ini_set('arg_separator.output',     '&amp;');
ini_set('magic_quotes_runtime',     0);
ini_set('magic_quotes_sybase',      0);
ini_set('session.cache_expire',     200000);
ini_set('session.cache_limiter',    'none');
ini_set('session.cookie_lifetime',  2000000);
ini_set('session.gc_maxlifetime',   200000);
ini_set('session.save_handler',     'user');
ini_set('session.use_only_cookies', 1);
ini_set('session.use_trans_sid',    0);
ini_set('url_rewriter.tags',        '');


$conf['i18n_variables'] = array(
  'site_name',
  'site_slogan',
  'site_mission',
  'site_footer',
  'anonymous',
  'menu_default_node_menu',
  'menu_primary_links_source',
  'menu_secondary_links_source',
  'contact_form_information',
  'site_frontpage',
  'menutrails_terms',
  'menutrails_menu',
  'menutrails_node_types'
);
